.zip-icon {
  @include position(absolute, 0 null 0 0.375rem);
  @include size($base-spacing);
  margin: auto;
  pointer-events: none;
  transition: transform $slow-transition;

  svg {
    @include size($base-spacing);
    fill: currentColor;
  }
}

.zip-icon--valid {
  transform: translateY(-200%);
}

.zip-icon--invalid {
  transform: translateY(200%);
}

.zip-field {
  &:valid ~ .zip-icon--valid {
    transform: translateY(200%);
  }

  &:focus {
    ~ .zip-icon--pin {
      transform: translateY(-200%);
    }

    &:valid ~ .zip-icon--valid {
      transform: translateY(0);
    }

    &:invalid ~ .zip-icon--invalid {
      transform: translateY(0);
    }
  }
}
