// Typography
$base-font-family: $font-stack-system;
$base-spacing: 1.5rem;

// Colors
$brand-color: #5acdc2;
$base-font-color: #fff;
$shadow-color: #033444;

// Animations
$base-duration: 150ms;
$base-timing: ease;
$base-transition: $base-duration $base-timing;
$slow-duration: 450ms;
$slow-transition: $slow-duration $base-timing;
$bounce-transition: $slow-duration $ease-in-out-back;
