// Typography
$base-font-family: $font-stack-system;
$base-font-size: 1rem;
$base-spacing: 1.5rem;

// Colors
$brand-color: #5acdc2;
$base-font-color: #fff;
$shadow-color: #033444;

// Box Shadows
$base-box-shadow: 0 4px 7px rgba($shadow-color, 0.04);
$card-box-shadow: 0 0 5px 0 rgba($shadow-color, 0.1);

// Animations
$base-duration: 150ms;
$base-timing: ease;
$base-transition: $base-duration $base-timing;
$slow-duration: 450ms;
$slow-transition: $slow-duration $base-timing;
$bounce-transition: $slow-duration $ease-in-out-back;
