---
title: Zip Code
---

form.zip
  input.zip-field maxlength="5" pattern="[0-9]{5,5}" placeholder="Zip" required="required" type="tel" value="78704"
  button.zip-button Save
  .zip-icon.zip-icon--pin
    = svg("pin")
  .zip-icon.zip-icon--valid
    = svg("valid")
  .zip-icon.zip-icon--invalid
    = svg("invalid")
